.navbar {
    background-color: #222831;
}

/*
NAVBAR BUTTONS
*/
.btnnavbar{
    color: #F2E9D8 !important;
    font-size: 20px;
    transition: font-size 0.5s;
}

.smaller .btnnavbar{
    font-size: 16px;
}

.btnnavbar:hover {
    color: #f8b500 !important;
    font-weight: bold;
    font-size: 20px;
}
